<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card text-center" style="width: 100%;">
                <img class="card-img-top" src="../../assets/images/food-bg2.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <div class="card-body" style="color: white;">
                        <h4 class="card-title">Restaurant & Dishes</h4>
                        <h5>People who love to eat are always the best people,this is best place to enjoy your day.</h5>
                        <p class="card-text"></p>
                        <p class="card-text">An independent platform and productive service that aims to provide you best quality of food with some coupons referral</p>
                        <p class="card-text">While we are independent, we may receive compensation from our partners for featured placement of their products or services.We may also receive compensation if you click on certain links posted on our site. </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>