<div class="container-fluid">


    <div class="row">
        <div class="col-4" *ngFor="let i of item">
            <div class="card w-55 shadow-lg p-3 mb-5 bg-white rounded  h-90 d-flex align-items-stretch">
                <div class="card-body">

                    <div style=" float: left; ">
                        <img src="{{i.imageurl}}" style="height: 200px; width:200px;">
                    </div>
                    <div class="card-body text-center">
                        <h3 class="card-title">{{i.name}}</h3>
                        <h4 class="card-title">${{i.price}}</h4>
                        <p class="card-text">
                            <span class="fa fa-star checked">rating:{{i.rating}}</span></p>
                        <button style="height:30%" (click)="addcart(i)" class="btn btn-success">AddTocart</button>
                    </div>





                </div>
            </div>

        </div>
    </div>
</div>